.footer {
  background-color: #000000;

  .container {
    @include flex(space-around, center, row);
    color: #ffffff;
    padding: 20px 0;
  }

  i {
    margin: 0 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;

    &:hover {
      color: #ffffff;
    }
  }

  p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
}

@include sm {
  .footer {
    .container {
      @include flex(center, center, column);
    }

    p {
      margin-top: 10px;
    }
  }
}
